<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringStart:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringStart_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringStart/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringStart" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.9.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.9.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.9.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.dataformat:jackson-dataformat-xml:2.9.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.module:jackson-module-jaxb-annotations:2.9.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.module:jackson-module-parameter-names:2.9.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.woodstox:woodstox-core:5.0.3" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: org.codehaus.woodstox:stax2-api:4.0.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.2.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>